.page4 {
  position: relative;
  width: 100%;
  padding: 5% 0;
  box-sizing: border-box;
  color: #fff;
}

.page4 .content {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 870px;
}

.page4 h3, .page4 h2 {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 30px 0;
  font-weight: 600;
}

.page4 h2 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 35px;
}

.p4-video {
  position: relative;
  width: 100%;
}

.p4-video>img {
  width: 100%;
}

.p4-video-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 65px;
  line-height: 65px;
  width: 210px;
  border-radius: 50px;
  background-color: #333238;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.p4-more {
  display: block;
  width: 150px;
  height: 55px;
  margin: 40px auto 0;
  line-height: 55px;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
  transition: .3s;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}
.p4-more:hover {
  background-color: #fff;
  color: rgba(0,0,0,.75);
}
@media screen and (max-width: 992px) {
  .page4 h2 {
    font-size: 26px;
  }
  .page4 h3 {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .p4-more {
    background-color: #fff;
    color: rgba(0,0,0,.75);
    margin-bottom: 50px;
  }
}
